
<div class="container">
  <h1>Talk to your coach!</h1>
  <form action="/answer" method="get">
    <div class ="form-group">
      <input type="text" name="question" class="form-control" placeholder="Hey coach...">
    </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
